header{
    width: 100%;
    height: 100vh;
    
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('../images/login-page-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    Position: absolute;
    Top:50%;
    Left:50%;
    Transform: translate(-50%,-50%);
    text-align: center;
}
.main{
    width: 241.5px;
    height: 50px;
    border:0.02px;
    border-style:solid ;
    margin-left: 200px;
    padding:2px;
    background-color: #ffffff;
    border-color:#bdc3c6;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.fullbox{
    letter-spacing: normal;
    text-align: center;
    margin-left: 24%;
    
}
.inp{
    width: 229px;
    height: 239px;
    border:1px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 200px;
    border-style: solid;
    padding:8px;
    border-color:#ffffff;
    background-color: #ffffff;
    /* text-align: center; */
}

.bdrail{
   color:#da924e;
   font-family: Roboto, sans-serif;
   line-height: normal;
   font-size: 16px;

}
.bng{
    color:#006747;
    font-family: roboto;
    font-size: 13px;
    line-height: 15px;

}

.frgt{
    color:#da924e;
    margin-left: 4px;

}
.help{
    color: #bdc3c6;
    margin-right: 4px;
}
#login{
    width:200px;
    height:30px;
    color:#E6F0ED;
    background-color:#006747;
    text-align: center;

    border-radius: 3.5px;
    border-style: dashed;
    border-color: #006747;
}
#register{
    font-size: 10px;
    text-align: center;
}
.btnone{
    background: #fff;
    color:#006747;
    font-size: 15px;
}
#mobpass{
    width:200px;
    height:30px;
    border-radius:2px;
    border-style: solid;
    border-color:#e8f0fe;
    background-color: #e8f0fe;
    text-align: center;
}
#or{
    background-color: #ffffff;
    color: #bdc3c6;
    text-align: center;
    margin-top: 10px;
}
.railaram{
    letter-spacing: normal;
    text-align: center;
    /* padding-top: 50px; */
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:10%;
    width: 8%;
}
h3{
    text-align: start;
}
